@import "tailwindcss";
@import "@fontsource/inter"; 
@import "@fontsource/poppins"; 

@theme {
  --color-primary: #e3cfa2;
  --color-secondary: #f2b8a2;
  --color-accent: #f8dfd3;
  --color-muted: #e9d9a6;
  --color-dark: #81586F;
  --color-text: #5c463d;

  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Poppins', sans-serif;
}

@layer base {
  body {
    @apply font-sans text-text leading-relaxed bg-white;
  }
  h1, h2, h3, h4, h5, .navbar-brand {
    @apply font-heading tracking-wide;
  }
}
